<?xml version="1.0"?>
<model>
  <name>popcorn5</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Guillaume Giraud</name>
    <email>guillaume.giraud@gmail.com</email>
  </author>

  <description>
    Eurobot 2015 Robomovies recharge de popcorn x5 pour les distributeurs
  </description>
</model>
